<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Named Entity Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1 id="heading" data-test-id="heading">
      <!-- data-test-id so that our tests can run while frontend devs change class/id -->
      Named Entity Finder
    </h1>
    <input data-test-id="text-input" /> <br />

    <button type="button" data-test-id="find-button">Submit Text</button>
    <table id="ner-table" data-test-id="ner-table" class="table table-bordered">
      <thead class="'thead dark">
        <tr>
          <th>Entity</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
  <script src="static/ner,js"></script>
</html>
